
{% load static %}
{% load bootstrap5 %}

{% if messages %}
{% for message in messages %}
{% if messages %}
{% for message in messages %}

<script>
notify('{{message.level_tag}}', "{{message}}");
</script>

{% endfor %}

{% endif %}

{% endfor %}

{% endif %}
<style>
    .form-group{
        margin-top:10px !important;
    }
    .independent{display: none;
    }
    /* .not_shown{
        display: none;
    } */
    .user_groups{
        margin-bottom: 2px;
    }
    .selection_options{
        text-transform: uppercase !important;
    }
    .form-check-input{
        height: 15px;
        width: 15px;
    }
</style>
<div class="inner" style="min-height: 300px;">
    <span class="btn btn-danger" style="margin-top:5px;margin-left:5px;" id="back-to-view"><i class="fa fa-arrow-left"></i> Back</span>
   
    <div class="row">
        <div class="col-lg-12 common-headers center-align">
            <h6 style="text-align: center;"> {{Title}} </h6>
        </div>
    </div>
      <!-- <hr /> -->
     <!--BLOCK SECTION -->
     <div class="row">
        <div class="col-lg-12">
            <div class="card">
            <div class="card-body ">
     
            <form action="" method="POST" role="{{PageAction}}" name="{{success_url}}" title="{{not_success_url}}" class="col-md-12" id="NormalForm">
				
                <div class="row" style="overflow: auto;">
                    {% csrf_token %}
				
                    {{form.media}}
                    <div class="row ">
                        <div class="col-12">Select Recepient Group</div>

                        {% if user.is_superuser or user.is_ict_admin or user.is_secretariat %}
                        <div class="col-sm-2 form-group selection_options">
                            <label class="selection_options">
                                <input type="checkbox" class="user_groups" name="groups">
                                User category
                               
                            </label>
                        </div>
                        <div class="col-sm-2 form-group selection_options">
                            <label class="selection_options">
                                <input type="checkbox" class="user_groups" name="region">
                                Regions
                               
                            </label>
                        </div>
                        {% endif %}
                        <div class="col-sm-2 form-group selection_options">
                            <label class="selection_options">
                                <input type="checkbox" class="user_groups" name="county">
                                Counties
                               
                            </label>
                        </div>
                        <div class="col-sm-2 form-group selection_options">
                            <label class="selection_options">
                                <input type="checkbox" class="user_groups" name="category">
                                Training Category
                               
                            </label>
                        </div>
                        <div class="col-sm-2 form-group selection_options">
                            <label class="selection_options">
                                <input type="checkbox" class="user_groups" name="training">
                                Training
                               
                            </label>
                        </div>
                    </div>
                    
                    <div class="row selection_groups not_shown groups" style="display: none;">
                        <hr>
                        <div class="col-12">Select Recepients</div>
                        <div class="col-sm-2 form-group selection_options">
                            <label class="selection_options">
                                <input type="checkbox" role="all" class="recepients_all"  name="coordinator">
                                Coordinators
                               
                            </label>
                        </div>
                        <div class="col-sm-2 form-group selection_options">
                            <label class="selection_options">
                                <input type="checkbox" class="recepients_all"  role="all" name="trainee">
                                Trainees
                               
                            </label>
                        </div>
                        <div class="col-sm-2 form-group selection_options">
                            <label class="selection_options">
                                <input type="checkbox" class="recepients_all"  role="all"  name="trainer">
                                Trainers
                               
                            </label>
                        </div>
                    </div>
                    <div class="row selection_groups not_shown region" style="display: none;">
                        <hr>
                        <div class="col-12">Select Region</div>
                        {% for item in regions %}
                        <div class="col-sm-2 form-group selection_options">
                            <label class="selection_options">
                                <input type="checkbox" class="selections recepients_all" role='region' name="{{item.id}}">
                                {{item}}
                               
                            </label>
                        </div>

                        {% endfor %}
                       
                    </div>
                    <div class="row selection_groups not_shown county" style="display: none;">
                        <hr>
                        <div class="col-12">Select County</div>
                        {% for item in counties %}
                        <div class="col-sm-2 form-group selection_options">
                            <label class="selection_options">
                                <input type="checkbox" class=" recepients_all" role="county" name="{{item.id}}">
                                {{item}}
                               
                            </label>
                        </div>

                        {% endfor %}
                       
                    </div>
                    <div class="row selection_groups not_shown category" style="display: none;">
                        <hr>
                        <div class="col-12">Select Training Categories</div>
                        {% for item in categories %}
                        <div class="col-sm-3 form-group selection_options">
                            <label class="selection_options">
                                <input type="checkbox" class=" recepients_all" role="category" name="{{item.id}}">
                                {{item}}
                               
                            </label>
                        </div>

                        {% endfor %}
                       
                    </div>
                    <div class="row selection_groups not_shown training" style="display: none;">
                        <hr>
                        <div class="col-12">Select Training</div>
                        {% for item in trainings %}
                        <div class="col-sm-4 form-group selection_options">
                            <label class="selection_options">
                                <input type="checkbox" class=" recepients_all" role="training" name="{{item.id}}">
                                {{item}}
                               
                            </label>
                        </div>

                        {% endfor %}
                       
                    </div>
                    <div class="row not_shown recepient_groups" style="display: none;">
                        <hr>
                        <div class="col-12">Select Recepient</div>
                        <div class="col-sm-2 form-group selection_options">
                            <label class="selection_options">
                                <input type="checkbox" class="receivers_link" name="trainee">
                                Trainees
                               
                            </label>
                        </div>
                        <div class="col-sm-2 form-group selection_options">
                            <label class="selection_options">
                                <input type="checkbox" class="receivers_link" name="trainer">
                                Trainers
                               
                            </label>
                        </div>
                       
                    </div>
                    
                    {% for field in form %}
                   {% if field.name == 'send_as_email_and_sms' or field.name == 'send_as_email' or field.name == 'send_as_sms' %}
                   <div class="form-group col-sm-4">
                    {% bootstrap_field field %}
                    <!-- <hr> -->
                </div>
                   {% else %}
                    <div class="form-group col-sm-12">
                        {% bootstrap_field field %}
                        <!-- <hr> -->
                    </div>
                    {% endif %}
                    {% endfor %}
                   </div> 
				<div class="row">
                <div class="col-sm-3"></div>
                <input type="text" hidden value="{{level}}" name="level" id="level_name">
                <input type="text" hidden value="{{level_name}}" name="level_name" id="level_name">
				<input type="text" hidden value="{{instance.id}}" name="instance" id="instance">
				<input type="text" hidden value="{{success_url}}" name="success_url" id="success_url">
				
                
                
			</div>
            <div class="col-sm-12">
                <button class="btn-success btn "  style="float: right;" id="SubmitQuery" role="{{PageAction}}">SAVE</button>
                <div id="error_page" class="col-sm-12 error_page" style="text-align:center ;color:red"></div>

            </div>
            </form>
        </div>
        </div>
        </div>

    </div>
  

</div>
<script>
    $(document).ready(function(){
    var csrfmiddlewaretoken= '{{csrf_token}}';
    var level='{{level}}'
    // alert(level)
    // var level_name='GET'
        $("#back-to-view").click(function(){
   
        $("#modal-staff").modal("hide");
                                   
 

})
$(".receivers_link").change(function(){
    var instance =$(this).attr('name')
    var level_name =''
    if($(this).prop('checked')){
        var action='add_receiver'
    }else{
        var action='remove_receiver'
    }
    
    $.post('/create-recepient-group/',{action:action,instance:instance,level:level,csrfmiddlewaretoken:csrfmiddlewaretoken,level_name:level_name},function(data){
                
   })
                    
    })
    $("#id_send_as_email").change(function(){
    if($(this).prop('checked')){
$('#id_send_as_sms').prop('checked',false)
$('#id_send_as_email_and_sms').prop('checked',false)
    }else{
        $('#id_send_as_sms').prop('checked',true)
        $('#id_send_as_email_and_sms').prop('checked',false)
    }
})
$("#id_send_as_sms").change(function(){
    if($(this).prop('checked')){
        $('#id_send_as_email').prop('checked',false)
        $('#id_send_as_email_and_sms').prop('checked',false)
        
    }else{
        $('#id_send_as_email').prop('checked',true)
        $('#id_send_as_email_and_sms').prop('checked',false)
    }
})
$("#id_send_as_email_and_sms").change(function(){
    if($(this).prop('checked')){
        $('#id_send_as_email').prop('checked',false)
        $('#id_send_as_sms').prop('checked',false)
    }else{
        $('#id_send_as_email').prop('checked',true)
    }
})

$(".recepients_all").change(function(){
    var instance =$(this).attr('name')
    var level_name =$(this).attr('role')
    // $('.receivers_link').che
    $(".receivers_link").prop('checked',false)
    if($(this).prop('checked')){
        var action='add'
    }else{
        var action='remove'
    }
    
    $.post('/create-recepient-group/',{action:action,instance:instance,level:level,csrfmiddlewaretoken:csrfmiddlewaretoken,level_name:level_name},function(data){
                
   })
                    
    })



$(".user_groups").change(function(){
    var role =$(this).attr('name')
    var instance =''
    var level_name =$(this).attr('name')
    var action='remove_all'
    $(".receivers_link").prop('checked',false)
    $.post('/create-recepient-group/',{action:action,instance:instance,level:level,csrfmiddlewaretoken:csrfmiddlewaretoken,level_name:level_name},function(data){
                
   })
if($(this).prop('checked')){
$(".selection_groups").hide()
$("."+role).show()

if(role=='groups'){
    // alert(role)
    $(".recepient_groups").hide()
}else{
    // alert(role)
    $(".recepient_groups").show()
}




$(".user_groups").prop('checked',false)
  $(this).prop('checked',true)
  $(".recepients_all").prop('checked',false)
}else{
    $("."+role).hide()
    $(".recepients_all").prop('checked',false)
    }
   
})
   

    })
</script>