{% load static %}
{% load bootstrap5 %}

<style>
  table{
font-size: 13px !important;
width: 95%;
margin: auto;
text-align: center;
}

/*Make alternating colors for the table rows*/
/* .table tr:nth-child(odd){
background: #B8CAE4
}

.table tr:nth-child(even){
background: #dae5f4
} */

thead {
background-color: #34c38f;
color: white;
}
.display_table{
border-bottom-right-radius: 20px;
/*border-bottom-left-radius: 20px;*/
padding-left: 5px;
padding-right: 5px;
padding-bottom: 20px;
box-shadow: 12px 12px 20px 6px #2e6da4;
}
td{
  padding: 6px;
line-height: 1.428571429;
vertical-align: top;
border-top: 1px solid #dddddd;
text-align: justify;
font-size:16px;
}
.page_links{
cursor: pointer;

}
  
  .pagination { display: inline-block;}
  .pagination a { color: black; float: left; padding: 8px 16px; text-decoration: none;}
  .pagination a.active { background-color: #4CAF50; color: white;}
  .pagination a:hover:not(.active) {background-color: #ddd;}
  .actionbtns{
    cursor: pointer;
  
  }

.dropbtn {
  color: #000;
  padding: 1px;
  font-size: 1px;
  border: none;
  cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 200px;
  left:-144px;
  height: 300px !important;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 9;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  /* padding: 12px 16px; */
  text-decoration: none;
  display: block;
}
.btn-app-dropdown:hover{
  background-color: #ccc;
}
.btn-app-dropdown{
  Border-bottom:1px solid #ccc
}
/* Change color of dropdown links on hover */
/* .dropdown-content a:hover {background-color: #f1f1f1} */

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  
}





.btn-primary{
    background:#111c43 !important

}



th{
    text-align: left !important;
  text-transform: uppercase;
}



.btn-app-dropdown{
  text-align: left;
}
</style>
{% if messages %}
{% for message in messages %}
<script>
notify('{{message.level_tag}}', "{{message}}");
</script>

{% endfor %}

{% endif %}

<div class="inner" style="">
  
    <div class="row">
        <div class="col-lg-12">
            <span class="back-to-main btn btn-primary">Back</span> <span style="float:right" class="btn btn-success Addusersingle" id="Addusersingle"><i class="fa fa-plus"></i> Add Trainer</span>
        </div>
        <div class="col-lg-12">
            <h6 style="text-transform: uppercase;"> {{Title}}</h6>
          
        </div>
    </div>
      <hr />
     <!--BLOCK SECTION -->
     <div class="row">
        <div class="col-sm-12 data-views  data-display" style="padding: 0px;" id="data-display"></div>
        <div class="col-sm-12 data-views table-display" style="padding: 0px;" id="table-display">
   
        <table class='table file-export'  id="file-export">
            <thead style="font-size: 11px;">
              <tr  style="font-size: 11px;background: #34c38f !important;">
                <th>#</th>
                <th>NAME</th>
                <th>GENDER</th>
                <th>EMAIL</th>
                <th>PHONE</th>
                <th>ACTIONS</th>
              </tr>
            </thead>
            {% for item in list %}
            
       <tr class="tabcontent graduates{{p.id}}">
        <td>{{forloop.counter}}</td>
        <td>
          {{item.first_name}} {{item.last_name}}
         
          </td>
          <td>{{item.gender}}</td>
        <td>{{item.email}}</td>
        <td>{{item.phone_number}}</td>
        <td>
      
            <span class="btn trainer-classess" role="{{item.id}}" title="classes"><i class="fa fa-list"></i></span>
 
      
      
        </td>
        </tr>
          
           {% endfor %}
         
      
      </table>
      </div>
     </div>
     </div>
     
<div class="modal fade" id="modal-staff">
  <div class="modal-dialog modal-lg">
      <div class="modal-content">
      </div>
  </div>
</div>


<script src="{% static 'assets/js/jquery.min.js' %}"></script>
<script>
    $(document).ready(function(){
      
    var csrfmiddlewaretoken= '{{csrf_token}}';
    var level='{{level}}'
    var level_name='GET'
        $(".back-to-main").click(function(){
  $(".main_tables").hide()
     $(".major_table").show()
}) 
$(".Addusersingle").click(function(){
    //  alert()
    var institution='{{institution.id}}'
     $.post('/create-user-single/',{institution:institution,level:level,csrfmiddlewaretoken:csrfmiddlewaretoken,level_name:level_name},function(data){
    //   $("#modal-staff").modal("show");                         
    //   $(".modal-content").html(data)
        //$('.content-wrapper').html(data)
        $(".data-views").hide()
      $(".data-display").html(data).show()
      $("#back-to-view").hide()
      $('.Addusersingle').hide()
      $('.form_header').html('Add new trainer')
 })
 
 })

      //  alert()
        $("#add_conference").click(function(){
     
     $.get('/conferencing/AddConference/',function(data){
      $("#modal-staff").modal("show");                         
      $(".modal-content").html(data)
        //$('.content-wrapper').html(data)
 })
 
 }) 
 
 $(".trainer-classess").click(function(){
var instance=$(this).attr('role');
var institution='{{institution.id}}'
     $.post('/trainer-classes/',{instance:instance,institution:institution,level:level,csrfmiddlewaretoken:csrfmiddlewaretoken,level_name:level_name},function(data){
    //   $("#modal-staff").modal("show");                         
    //   $(".modal-content").html(data)
        //$('.content-wrapper').html(data)
        $(".main_tables").hide()
        $(".minor_table").html(data).show()
 })
 
})
  $(".viewSubmissions").click(function(){

var my_role=$(this).attr('role');


var my_role=$(this).attr('role');
 $.get('/dashboard/surveys/viewSubmissions/'+my_role,function(data){

        $('.content-wrapper').html(data)
})
})

$("#AddForum_btn").click(function(){

    $.get('/dashboard/surveys/addSurvey',function(data){
      $("#modal-staff").modal("show");                         
      $(".modal-content").html(data)
       // $('.content-wrapper').html(data)
})

})

$(".AddAudience").click(function(){
var surveyId=$(this).attr('role');
 var csrfmiddlewaretoken= '{{csrf_token}}';
 $.post('/dashboard/surveys/selectAudience/',{csrfmiddlewaretoken:csrfmiddlewaretoken,surveyId:surveyId},function(data){

$('.content-wrapper').html(data)
})
})
$('.ListSurveyAudience').click(function(){
  var surveyId=$(this).attr('role');
 var csrfmiddlewaretoken= '{{csrf_token}}';
 $.post('/dashboard/surveys/list_selectAudience/',{csrfmiddlewaretoken:csrfmiddlewaretoken,surveyId:surveyId},function(data){

$('.content-wrapper').html(data)
})
})



$(".AddQuestions").click(function(){
var survey=$(this).attr('role');
 var csrfmiddlewaretoken= '{{csrf_token}}';
  $.post('questions/create_question/',{survey:survey,csrfmiddlewaretoken:csrfmiddlewaretoken},function(data){
      $("#modal-staff").modal("show");                         
      $(".modal-content").html(data)
                        })
})
$(".open_event").click(function(){
  var conference=$(this).attr('role');
  $.get('/conferencing/open_conference/'+conference,function(data){
    $('.content-wrapper').html(data)
                  
})
})

$(".questions").click(function(){
 var survey=$(this).attr('role');
 var csrfmiddlewaretoken= '{{csrf_token}}';
 $.get('/dashboard/surveys/listViewQuestions/'+survey,function(data){

$('.content-wrapper').html(data)
})
})
$(".ListSurveyResponcesRecieved").click(function(){
 var survey=$(this).attr('role');
 var csrfmiddlewaretoken= '{{csrf_token}}';
 $.post('/dashboard/surveys/ListSurveyResponcesRecieved/',{csrfmiddlewaretoken:csrfmiddlewaretoken,survey:survey},function(data){

$('.content-wrapper').html(data)
})
})
$("#export_users").click(function(){
 
 var csrfmiddlewaretoken= '{{csrf_token}}';
 var url='/bursary/export_users/'
 window.open(url, '_blank');
//  $.post('/dashboard/surveys/export_survey_responce/',{csrfmiddlewaretoken:csrfmiddlewaretoken,survey:survey},function(data){

// $('.content-wrapper').html(data)
// })
})


    })
</script>
