{% extends "base.html" %}
{% load bootstrap5 %}
{% load static %}
{% load i18n %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
<section id="services" class="services section-bg" style="">
  <div class="col-sm-12" style="padding:0px !important">

    <div class="row" style="width:100%; padding:0px !important">

      <div class="col-md-6 mobile_hidden">
        <img src="{% static 'banner.jpeg' %}">
      </div>
      <div class="col-md-6 ">
        <div class="row">
          <div class="col-md-2 "></div>
          <div class="col-md-8">
            <div class="col-12 12 mobile_hidden" style="height: 140px;"></div>
            <!-- <div class="col-sm-2"></div> -->
            <div class="col-sm-12 mobile_hidden" style="margin-bottom: 5px;">
              <img src="{% static 'logo.jpeg' %}">
            </div>

            <div class="row" style="font-size: 15px;font-family: open sans;">
              <div class="card-body">
                {% if messages %}
                {% for message in messages %}
                <div class="alert alert-{{message.level_tag}}">
                  {{message}}.
                </div>
                {% endfor %}

                {% endif %}
                {% if user.is_authenticated %}
                {% include "account/snippets/already_logged_in.html" %}
                {% endif %}

                <p
                  style="color:#fff;background-color: #02953e;border-radius: 5px;padding:6px;margin-top: -10px;">
                  {% blocktrans %}

                  We have sent you an e-mail. Please use the instructions
                  shared to reset your password{% endblocktrans %}</p>
                <a href="{% url 'account_login' %}"
                  class="buttn btn  btn-success"
                  style="color:#fff;background-color: #02953e">Login to
                  Proceed</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}