{% extends "base.html" %}
{% load bootstrap5 %}
{% load static %}
{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<style>
  .send_in_btn {

    border: 1px solid #02953E;
    color: #fff;
    background-color: #02953E;
    border-radius: 3px;
    padding: 5px;
    text-align: center;
  }

  .send_in_btn:hover {
    border: 1px solid #E10716;
    background-color: #E10716;
    color: #fff;
    border-radius: 3px;
    padding: 5px;
    text-align: center;
  }
</style>
<section id="services" class="services section-bg" style="">
  <div class="col-sm-12" style="padding:0px !important">

    <div class="row" style="width:100%; padding:0px !important">

      <div class="col-md-6 mobile_hidden">
        <img src="{% static 'banner.jpeg' %}">
      </div>
      <div class="col-md-6 ">
        <div class="row">
          <div class="col-md-2 "></div>
          <di class="col-md-8">
            <div class="col-12 12 mobile_hidden" style="height: 10px;"></div>
            <!-- <div class="col-sm-2"></div> -->
            <div class="col-sm-12 mobile_hidden"
              style="margin-bottom: 5px;margin-top: 40px;">
              <img src="{% static 'logo.jpeg' %}">
            </div>
            <div class="col-12 card-body ">
              {% if messages %}
              {% for message in messages %}
              <div class="alert alert-{{message.level_tag}}">
                {{message}}.
              </div>
              {% endfor %}

              {% endif %}
              <h3 style="float: center;text-align: center;">{% if token_fail
                %}{% trans "Bad Token" %}{% else %}{% trans "Change Password"
                %}{% endif %}</h3>

              {% if token_fail %}
              {% url 'account_reset_password' as passwd_reset_url %}
              <p>{% blocktrans %}The password reset link was invalid, possibly
                because it has already been used. Please request a <a
                  href="{{ passwd_reset_url }}">new password reset</a>.{%
                endblocktrans %}</p>
              {% else %}
              {% if form %}
              <form method="POST" action="{{ action_url }}">
                {% csrf_token %}
                <!-- {{ form.as_p }} -->
                {% for field in form %}

                {% if field.name == 'remember' %}
                <div class="col-md-6"
                  style="font-family: raleway !important;font-size: 13px !important;">
                  <label id="" for="{{ field.label }}">{{ field.label_tag }}

                    {% if field.field.required %}<span class="special_class"
                      style="color: red">*</span>
                    {% endif %}
                  </label>

                  {% bootstrap_field field show_label=False %}


                </div>
                {% else %}
                <div class="col-md-12"
                  style="font-family: raleway !important;font-size: 13px !important;">
                  <label class="form-label" for="{{ field.label }}">{{
                    field.label_tag }}

                    {% if field.field.required %}<span class="special_class"
                      style="color: red">*</span>
                    {% endif %}
                  </label>

                  {% bootstrap_field field show_label=False %}


                </div>
                {% endif %}
                {% endfor %}
                <div class="col-md-12">
                  <input type="submit" style="" name="action"
                    value="{% trans 'change password' %}"
                    class="button send_in_btn col-sm-12 btn " />
                </div>
              </form>
              {% else %}
              <p>{% trans 'Your password is now changed.' %}</p>
              {% endif %}
              {% endif %}
            </div>
          </di>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}