{% extends "base.html" %}
{% load bootstrap5 %}
{% load static %}
{% load i18n %}

{% block head_title %}{% trans "Reset Password" %}{% endblock %}

{% block content %}
<style>
  .form-label {
    display: none;
  }
</style>
<section id="services" class="services section-bg" style="">
  <div class="col-sm-12" style="padding:0px !important">

    <div class="row" style="width:100%; padding:0px !important">

      <div class="col-md-6 mobile_hidden">
        <img src="{% static 'banner.jpeg' %}">
      </div>
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-2 "></div>
          <div class="col-md-8">
            <div class="col-12 12 mobile_hidden" style="height: 140px;"></div>
            <!-- <div class="col-sm-2"></div> -->
            <div class="col-sm-12 mobile_hidden" style="margin-bottom: 5px;">
              <img src="{% static 'logo.jpeg' %}">
            </div>
            <div class="row ">

              <div class="col-md-12 card-body"
                style="font-size: 15px;font-family: open sans;">

                {% if messages %}
                {% for message in messages %}
                <div class="alert alert-{{message.level_tag}}">
                  {{message}}.
                </div>
                {% endfor %}

                {% endif %}
                <p>{% trans 'Forgot your password?' %} </p>
                <p
                  style="color:#fff;background-color: #02953e;border-radius: 5px;padding:6px;margin-top: -10px;">
                  {% trans "Please enter your e-mail address, you will receive
                  an email with instructions on how to reset your password." %}
                </p>

                <form method="POST" action="{% url 'account_reset_password' %}"
                  class="password_reset">
                  {% csrf_token %}
                  {% bootstrap_form form %}
                  <input type="submit" class="button btn col-sm-12"
                    style="color:#fff;font-size: 15px;font-family: open sans; background-color: #02953e"
                    value="{% trans 'Request reset link' %}" />
                </form>
                <p
                  style="text-align: center;font-size: 15px;font-family: open sans;">
                  {% blocktrans %}Back to
                  <a href="{{ login_url }}" style="color: #363636;"> Sign
                    in</a>.{% endblocktrans %}
                </p>
                <!-- <p>{% blocktrans %}Please contact us if you have any trouble resetting your
                            password.{% endblocktrans %}</p> -->
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}