{% extends "base.html" %}
{% load bootstrap5 %}
{% load static %}
{% load i18n %}

{% block head_title %}{% trans "Set Password" %}{% endblock %}

{% block content %}
{% if messages %}
{% for message in messages %}
<script>
  notify('{{message.level_tag}}', "{{message}}");
</script>

{% endfor %}

{% endif %}

    
<section id="services" class="services section-bg" style="">
    <div class="col-sm-12" style="padding:0px !important">
  
      <div class="row" style="width:100%; padding:0px !important">
  
    <div class="col-md-6 mobile_hidden">
      <img src="{% static 'banner.png' %}">
    </div>
    <div class="col-md-6 wow fadeIn">
      <div class="row">
      <div class="col-md-2 "></div>
      <div class="col-md-8">
        <div class="col-12 12 mobile_hidden" style="height: 140px;"></div>
      <!-- <div class="col-sm-2"></div> -->
  <div class="col-sm-12 mobile_hidden" style="margin-bottom: 5px;">
    <img src="/static/logo.png">
  </div>
    <div class="col-12 card-body ">
      
      <div class="section-title">
        <span>Accounts</span>
        <h3>Change Password</h3>
      </div>
  
    <form method="POST" action="{{PageAction}}" class="password_change">
        {% csrf_token %}
				
        {{form.media}}
        
   
    <!-- <div class="col-md-12" style="font-family: raleway !important; color:#1D1D1B !important;font-size: 13px !important;">
                
        <div class="mb-3">

            <input type="password"  class="col-sm-12" name="oldpassword" placeholder="Current Password" autocomplete="current-password" required="" id="id_oldpassword">
     </div>
     </div> -->
    
     <div class="col-md-12" style="font-family: raleway !important; color:#1D1D1B !important;font-size: 13px !important;">
                
        <div class="mb-3">

            <input type="password"  class="col-sm-12" name="password1" placeholder="New Password" autocomplete="new-password" required="" id="id_password1">
        </div>
     </div>
     <div class="col-md-12" style="font-family: raleway !important; color:#1D1D1B !important;font-size: 13px !important;">
                
        <div class="mb-3">

            <input type="password"  class="col-sm-12" name="password2" placeholder="New Password (again)" required="" id="id_password2">
        </div>
     </div>
    
     <div class="col-md-12" style="font-family: raleway !important; color:#1D1D1B !important;font-size: 13px !important;">
    
      <button type="submit" name="action" class="buttn col-sm-12 btn btn-success">Change Password</button>
      </div>
    </form>
    </div>
    </div>
        </div>
        </div>
    </div>
    </div>
    </section>
    
        {% endblock %}