{% extends 'dashboard/base3.html' %}
{% load static %}

{% load humanize %}
{% block content %}

{% if messages %}
{% for message in messages %}
{% if messages %}
{% for message in messages %}

<script>
notify('{{message.level_tag}}', "{{message}}");
</script>

{% endfor %}

{% endif %}

{% endfor %}

{% endif %}
<style>
  .surveyspanels{
    min-height: 80px;
    background: #fff;
    margin-top: 5px;
  }
</style>

<div class="card" style="">
<div class="col-sm-12" style="">
<h6 style="color: #106EEA;">Ongoing Tasks</h3>
    </div>

<div  id="surveysquestionsarea"></div>

    {% if survey or surveycustom %}
    
{% for survey in survey %}
<div class="col-sm-12 surveyspanels" style="margin-top: 5px;margin-bottom: 5px;" id="#surveyspanel{{survey.survey.id}}">
<div class="row" style="margin-left: 50px;margin-right: 50px;">
  <div class="col-sm-12">
    <h5 id="introduction" class="card-title" style="font-size: 18px !important;">{{survey.survey.name|safe}}</h5>
   
    <p class="card-text">   {{survey.survey.Brief_Description|safe}}</p>
    <a  class="card-link"> Deadline:: 
      <span class="text-secondary font-weight-bold">{{survey.survey.End_Date|date}}</span>&nbsp;</a>
      {% if survey.status == 'done' %}
      <!-- <a  style="float: right;" data-toggle="collapse" data-target=".forum-content{{survey.survey.id}}" class="text-body read_more" role="{{survey.survey.id}}" style="color: #000 !important;font-weight:bold;"><span class="btn btn-info" >Redoo Test</span><b></b></a> -->
      <a  href="https://training.smartacademy.go.ke/login/?redirect_to=https%3A%2F%2Ftraining.smartacademy.go.ke%2F&bp-auth=1&action=bpnoaccess" target="_blank" style="float: right;color: #000 !important;font-weight:bold;"><span class="btn btn-info" >Start</span><b></b></a>

      &nbsp;<span style="float:right;margin-right: 5px;" role="{{survey.survey.id}}" class="btnviewresponces btn btn-secondary" ><i class="fa fa-eye"></i> View Results</span> 
      &nbsp;<a  style="float: right;" data-toggle="collapse" data-target=".forum-content{{survey.survey.id}}" class="text-body " role="{{survey.survey.id}}" style="color: #000 !important;font-weight:bold;"><class class="" style="color:green">Quiz submited successfully</class><b></b></a> 
       
      {% elif survey.status == 'redoo' %}
      <!-- <a  style="float: right;" data-toggle="collapse" data-target=".forum-content{{survey.survey.id}}" class="text-body read_more" role="{{survey.survey.id}}" style="color: #000 !important;font-weight:bold;"><span class="btn btn-info" >Redoo Test</span><b></b></a> -->

      <a  href="https://training.smartacademy.go.ke/login/?redirect_to=https%3A%2F%2Ftraining.smartacademy.go.ke%2F&bp-auth=1&action=bpnoaccess" target="_blank" style="float: right;color: #000 !important;font-weight:bold;"><span class="btn btn-info" >Start</span><b></b></a>

      &nbsp;<span style="float:right;margin-right: 5px;" role="{{survey.survey.id}}" class="btnviewresponces btn btn-secondary" ><i class="fa fa-eye"></i> View Results</span> 
      &nbsp;<a  style="float: right;" data-toggle="collapse" data-target=".forum-content{{survey.survey.id}}" class="text-body " role="{{survey.survey.id}}" style="color: #000 !important;font-weight:bold;"><class class="" style="color:green">Quiz submited successfully</class><b></b></a> 
      
      {% elif survey.status == 'past' %}
      <a  href="https://training.smartacademy.go.ke/login/?redirect_to=https%3A%2F%2Ftraining.smartacademy.go.ke%2F&bp-auth=1&action=bpnoaccess" target="_blank" style="float: right;color: #000 !important;font-weight:bold;"><span class="btn btn-info" >Start</span><b></b></a>

    <!-- <a  style="float: right;" data-toggle="collapse" data-target=".forum-content{{survey.survey.id}}" class="text-body " role="{{survey.survey.id}}" style="color: #000 !important;font-weight:bold;"><span class="" style="color:rgb(128, 26, 0)">Ended</span><b>&nbsp;</b></a>   -->
     
    {% elif survey.status == 'past_done' %}
    &nbsp;<span style="float:right;margin-right: 5px;" role="{{survey.survey.id}}" class="btnviewresponces btn btn-secondary" ><i class="fa fa-eye"></i> View Results</span> 
    &nbsp;<a  style="float: right;" data-toggle="collapse" data-target=".forum-content{{survey.survey.id}}" class="text-body " role="{{survey.survey.id}}" style="color: #000 !important;font-weight:bold;"><span class="" style="color:rgb(128, 26, 0)"> Ended</span><b>&nbsp;</b></a> 
     
    {% else %}       
    <a  href="https://training.smartacademy.go.ke/login/?redirect_to=https%3A%2F%2Ftraining.smartacademy.go.ke%2F&bp-auth=1&action=bpnoaccess" target="_blank" style="float: right;color: #000 !important;font-weight:bold;"><span class="btn btn-info" >Start</span><b></b></a>
 
  <!-- <a  style="float: right;" data-toggle="collapse" data-target=".forum-content{{survey.survey.id}}" class="text-body read_more" role="{{survey.survey.id}}" style="color: #000 !important;font-weight:bold;"><span class="btn btn-info" >Start</span><b></b></a> -->
{% endif %}
  </div>
</div>
</div>

{% endfor %}

{% for survey in surveycustom %}
<div class="col-sm-12 surveyspanels" id="#surveyspanel{{survey.survey.id}}">
  <div class="row" style="margin-left: 50px;margin-right: 50px;">
    <div class="ccol-sm-12">
      <h5 id="introduction" class="card-title" style="font-size: 18px !important;">{{survey.survey.name|safe}}</h5>
     
      <p class="card-text">   {{survey.survey.Brief_Description|safe}}</p>
      <a  class="card-link">Survey Deadline:: 
        <span class="text-secondary font-weight-bold">{{survey.survey.End_Date}}</span>&nbsp;</a>
        {% if survey.status == 'done' %}
        &nbsp;<span style="float:right;margin-right: 5px;" role="{{survey.survey.id}}" class="btnviewresponces btn btn-secondary" ><i class="fa fa-eye"></i> View Results</span> 
        &nbsp;<a  style="float: right;" data-toggle="collapse" data-target=".forum-content{{survey.survey.id}}" class="text-body " role="{{survey.survey.id}}" style="color: #000 !important;font-weight:bold;"><class class="" style="color:green">Quiz submited successfully</class><b></b></a> 
         {% elif survey.status == 'past' %}
      <a  style="float: right;" data-toggle="collapse" data-target=".forum-content{{survey.survey.id}}" class="text-body " role="{{survey.survey.id}}" style="color: #000 !important;font-weight:bold;"><span class="" style="color:rgb(128, 26, 0)">Survey Ended</span><b>&nbsp;</b></a>  
       
      {% elif survey.status == 'past_done' %}
      &nbsp;<span style="float:right;margin-right: 5px;" role="{{survey.survey.id}}" class="btnviewresponces btn btn-secondary" ><i class="fa fa-eye"></i> View Results</span> 
      &nbsp;<a  style="float: right;" data-toggle="collapse" data-target=".forum-content{{survey.survey.id}}" class="text-body " role="{{survey.survey.id}}" style="color: #000 !important;font-weight:bold;"><span class="" style="color:rgb(128, 26, 0)">Survey Ended</span><b>&nbsp;</b></a> 
       
      {% else %}        
    <a  style="float: right;" data-toggle="collapse" data-target=".forum-content{{survey.survey.id}}" class="text-body read_more" role="{{survey.survey.id}}" style="color: #000 !important;font-weight:bold;"><span class="btn btn-info" >Take survey</span><b></b></a>
  {% endif %}
    </div>
  </div>
  </div>


{% endfor %}
{% else %} 
<div class="alert alert-danger tex-center" role="alert" style="text-align: center;margin:100px">
  There are currently  no ongoing Quizes!!!!!   {% if not user.is_authenticated %} <a href="">Login here to acsess Quizes .</a> {% endif %}
</div>
<!-- <a  href="https://training.smartacademy.go.ke/login/?redirect_to=https%3A%2F%2Ftraining.smartacademy.go.ke%2F&bp-auth=1&action=bpnoaccess" target="_blank" style="float: right;color: #000 !important;font-weight:bold;"><span class="btn btn-info" >Start</span><b></b></a> -->

{% endif %}


</div>
<script src="{% static 'assets/js/jquery.min.js' %}"></script>
<script>
    $(document).ready(function(){
      
        var questioncategory=parseInt('{{questioncategory.id}}')
        
        var csrfmiddlewaretoken= '{{csrf_token}}';
         $(".btnviewresponces").click(function(){
        
          var loader= $('#loader').html()
          
          $('#loadingadge').html(loader)
         var surveyId=$(this).attr('role');
         
         $.post('/dashboard/quizes/view_user_submissions/',{questioncategory:questioncategory,csrfmiddlewaretoken:csrfmiddlewaretoken,surveyId:surveyId},function(data){
          $(".surveyspanels").hide()
            $('#scrollUp').click()
            $("#surveysquestionsarea").html(data).show();
            $("#surveyspanel"+surveyId).show()
        
          
        $('.surveybackBtn').show()           
         })
        })
     
        $(".read_more").click(function(){
         
           var loader= $('#loader').html()
          
           $('#loadingadge').html(loader)
          var survey=$(this).attr('role');
          //alert(survey)
          var surveyId=survey
          
         $.post('/dashboard/quizes/checkSurveycategoryquestion/',{questioncategory:questioncategory,csrfmiddlewaretoken:csrfmiddlewaretoken,surveyId:surveyId},function(data){
                        

                        if($.trim(data)=='loadquestions'){
                          $.post('/dashboard/quizes/loadSurveyQuestionsToUsers/',{csrfmiddlewaretoken:csrfmiddlewaretoken,survey:surveyId,questioncategory:questioncategory},function(data){
                            $(".surveyspanels").hide()
                            $('#scrollUp').click()
            $("#surveysquestionsarea").html(data).show();
            $("#surveyspanel"+survey).show()
        
          
        $('.surveybackBtn').show()
                          })
                       
  
  
                        }else if($.trim(data)=='missing'){
                        questioncategory=questioncategory+1;
                        checkexistingcategories(questioncategory,surveyId)




                       } else if($.trim(data)=='success'){
                        $.post('/dashboard/quizes/Load_final_list_answers/',{questioncategory:questioncategory,csrfmiddlewaretoken:csrfmiddlewaretoken,surveyId:surveyId},function(data){
                          $(".surveyspanels").hide()
                          $('#scrollUp').click()
            $("#surveysquestionsarea").html(data).show();
            $("#surveyspanel"+survey).show()
        
          
        $('.surveybackBtn').show()
                        })

                      
                       }
                      })




                    })







  
      });


      function checkexistingcategories(questioncategory,surveyId){
   var questioncategory=questioncategory;
    
    var csrfmiddlewaretoken= '{{csrf_token}}';
       var surveyId=surveyId;
       //alert(surveyId)
       $.post('/dashboard/quizes/checkSurveycategoryquestion/',{questioncategory:questioncategory,csrfmiddlewaretoken:csrfmiddlewaretoken,surveyId:surveyId},function(data){
                        

                        if($.trim(data)=='loadquestions'){
                          $.post('/dashboard/quizes/loadSurveyQuestionsToUsers/',{csrfmiddlewaretoken:csrfmiddlewaretoken,survey:surveyId,questioncategory:questioncategory},function(data){
                            $(".surveyspanels").hide()
                            $('#scrollUp').click()
            $("#surveysquestionsarea").html(data).show();
            $("#surveyspanel"+survey).show()
        
          
        $('.surveybackBtn').show()
                          })
                       
  
  
                        }else if($.trim(data)=='missing'){
                        questioncategory=questioncategory+1;
                        checkexistingcategories(questioncategory,surveyId)




                       } else if($.trim(data)=='success'){
                        $.post('/dashboard/quizes/Load_final_list_answers/',{questioncategory:questioncategory,csrfmiddlewaretoken:csrfmiddlewaretoken,surveyId:surveyId},function(data){
                          $(".surveyspanels").hide()
                          $('#scrollUp').click()
            $("#surveysquestionsarea").html(data).show();
            $("#surveyspanel"+survey).show()
        
          
        $('.surveybackBtn').show()
                        })

                         //$.post('/dashboard/quizes/PublishAnswers/',{questioncategory:questioncategory,csrfmiddlewaretoken:csrfmiddlewaretoken,surveyId:surveyId},function(data){
                         
                         
                          //$(".main-content").html(data)



                     //})
                      
                       }
                      })
   
}
      </script>
{% endblock %}