{% if messages %}
{% for message in messages %}
<script>
notify('{{message.level_tag}}', "{{message}}");
</script>

{% endfor %}

{% endif %}
<div class="card">
    <div class="card-body">
    <div class="col-12">
        
        
    </div>
    {% for p in surveyaudience %}
    {% if p.status == 'audience' %}
    <div class="col-12" style="border:1px solid #ccc;margin-top:5px;">
    <div class="col-12" style="background-color: #ccc; ">
        <!--<input type="checkbox" checked  id="{{i.id}}" name="{{p.id}}"  class="select_graduation_year" role="{{i.name}}">
        <span class="checkmarkd"></span>-->
        {{p.institution.name}}
    <!--</label>-->
    </div>
  <div class="row" style="">
    <div class="col-1"></div>
    <div class="col-11" >
    {% for j in graduationyear %}
    {% if j.status == 'audience' %}
   
   <div class="col-12" style="background-color: #ccc; margin-top:5px;margin-bottom: 5px;">
    <!--<input type="checkbox" checked  id="{{i.id}}" name="{{p.id}}"  class="select_graduation_year" role="{{i.name}}">
    <span class="checkmarkd"></span>-->
    Graduation year {{j.name}}
<!--</label>-->
</div>
   {% for g in audienceadded %}
   {% if j == g.graduation_year %}
   {% if p.institution == g.institution %}
   <div class="row">
    <div class="col-1"></div>
    <div class="col-11">
  <p> <input type="checkbox" checked  id="{{g.membername.id}}" name="{{p.id}}"  class="select_users" role="{{i.name}}">
    <span class="checkmarkd"></span>
    {{g.membername.first_name}} {{g.membername.middle_name}} {{g.membername.last_name}}
   
     </label>
      </p>
      </p>
    </div>
    </div>
     {% else %}
     {% endif %}
     {% else %}
     {% endif %}
     {% endfor %}
     {% else %}
     {% endif %}
     {% endfor %}
     </div>
     </div>
     </div>
     {% else %}
     {% endif %}
     {% endfor %}
   

 {% if customeaudiencecount > 0 %}
 <div class="col-12" style="border:1px solid #ccc;margin-top:5px;">
 <div class="col-12" style="background-color: #ccc;margin-bottom: 5px;padding-right:5px ;">
    Custom Audience List <span style="float:right ;">{{customeaudiencecount}}</span>
    </div>
    
       {% for g in customeaudienceadded %}
       <div class="row">
        <div class="col-1"></div>
        <div class="col-11">
      <p> <input type="checkbox" checked  id="{{g.id}}" name="{{p.id}}"  class="select_userscustom" role="{{i.name}}">
        <span class="checkmarkd"></span>
        {{g.first_name}} {{g.last_name}}
       
         </label>
          </p>
          </p>
        </div>
        </div>
         {% endfor %}
       </div>
         {% else %}
         {% endif %}


    </div>
    </div>



    <div class="row">
   
            {% if audiencecount > 0 %}
        <div class="col-sm-6"><div class="btn col-sm-12 actionbuttonspublish btn-warning" role="cancel">Cancel All</div></div>
        <div class="col-sm-6"><div class="btn col-sm-12 actionbuttonspublish btn-success" role="save">Publish ALL</div></div>
       {% else %}
       {% endif %}
    </div>
    <div class="col-sm-12" id="error_display_page" style="color:red;text-align: center;"></div>
    <script>
        $(document).ready(function(){
       
       var loader=$('#loader').html()
       
           $('.Checkallpublish').change(function(){
               if($(this).prop('checked')){
               $(".unchecked_user_publish").prop('checked',true)
               }else{
                   $(".unchecked_user_publish").prop('checked',false)
       
               }
           })
        var surveyId='{{surveyId}}'
        var csrfmiddlewaretoken= '{{csrf_token}}';
           $(".unchecked_user_publish").change(function(){
           var userId=$(this).attr('id');
           var audienceId=$(this).attr('role')
            //alert(audienceId)
            if($(this).prop('checked')){
               action='addUserToAudience'
           }else{
               action='removequestion'
           }
               $.post('/dashboard/surveys/addUserToSurveyAudienceList/',{action:action,userId:userId,csrfmiddlewaretoken:csrfmiddlewaretoken,surveyId:surveyId,audienceId:audienceId},function(data){
                   $.post('/dashboard/surveys/getFinalAudiencelist/',{csrfmiddlewaretoken:csrfmiddlewaretoken,surveyId:surveyId},function(data){
                   //alert(data)
                $('#list_holder').html(data)
                   })
                  })
          
       })
       
       $(".select_users").change(function(){
   
   var audienceId=$(this).attr('name')
   var userId=$(this).attr('id')
   var institution=$(this).attr('role');
  var survey=surveyId
       if($(this).prop('checked')){
       action='addUserToAudience'
       $.post('/dashboard/surveys/addUserToSurveyAudienceList/',{audienceId:audienceId,userId:userId,action:action,csrfmiddlewaretoken:csrfmiddlewaretoken,surveyId:surveyId},function(data){
           $.post('/dashboard/surveys/load_institution_graduation_year_users/',{audienceId:audienceId,userId:userId,csrfmiddlewaretoken:csrfmiddlewaretoken,survey:survey},function(data){

        $('#list_holder').html(data)
           })
           $.post('/dashboard/surveys/load_graduation_year/',{csrfmiddlewaretoken:csrfmiddlewaretoken,surveyId:surveyId},function(data){
    
    $('#audienceLobby').html(data)
       })
          })
       }else{
       action='removequestion'
       $.post('/dashboard/surveys/addUserToSurveyAudienceList/',{audienceId:audienceId,userId:userId,action:action,csrfmiddlewaretoken:csrfmiddlewaretoken,surveyId:surveyId},function(data){
           $.post('/dashboard/surveys/load_institution_graduation_year_users/',{audienceId:audienceId,userId:userId,csrfmiddlewaretoken:csrfmiddlewaretoken,survey:survey},function(data){

        $('#list_holder').html(data)
           })
           $.post('/dashboard/surveys/load_graduation_year/',{csrfmiddlewaretoken:csrfmiddlewaretoken,surveyId:surveyId},function(data){
    
    $('#audienceLobby').html(data)
       })
          })
   }
  

      
})


    
$(".select_userscustom").change(function(){
        if($(this).prop('checked')){
            action='addUserToAudience'
        }else{
            action='removeUser'
        }
    var userId=$(this).attr('id');
    
        
   

        $.post('/dashboard/surveys/addUserToSurveyAudienceListcustom_edit/',{action:action,userId:userId,csrfmiddlewaretoken:csrfmiddlewaretoken,surveyId:surveyId},function(data){
           var survey=surveyId
            $.post('/dashboard/surveys/load_institution_graduation_year_users/',{csrfmiddlewaretoken:csrfmiddlewaretoken,survey:survey},function(data){
  //alert(data)
$('#list_holder').html(data)
   })
           })
   
})








       
       $('.actionbuttonspublish').click(function(){
           var role=$(this).attr('role');
           
           if(role=='back'){
           
           }else if(role=='cancel'){
            var action='clearall'
            $("#error_display_page").html('Clearing content '+loader)
            $.post('/dashboard/surveys/managePublishAudience/',{action:action,csrfmiddlewaretoken:csrfmiddlewaretoken,surveyId:surveyId},function(data){
              var survey=surveyId
                   $.post('/dashboard/surveys/load_institution_graduation_year_users/',{csrfmiddlewaretoken:csrfmiddlewaretoken,survey:survey},function(data){
       
                $('#list_holder').html(data)
                   })
                   $.post('/dashboard/surveys/load_graduation_year/',{csrfmiddlewaretoken:csrfmiddlewaretoken,surveyId:surveyId},function(data){
    
    $('#audienceLobby').html(data)
       })
                  })
           }else{
               var action='save'
               $("#error_display_page").html('Saving content '+loader)
         
            //    $.get('/dashboard/surveys/viewSurveys/',{},function(data){
                 
            //         $('.content-wrapper').html(data)
            //     })
                $.post('/dashboard/surveys/managePublishAudience/',{action:action,csrfmiddlewaretoken:csrfmiddlewaretoken,surveyId:surveyId},function(data){
                
            })
            window.location='/viewSurveys/'
           }
       })
       
       
       
        })
        function filterusers(){
           var numbercount='{{usercount}}'
           var input, filter, ul, li, a, i, txtValue;
           input = document.getElementById("searchUsers");
           filter = input.value.toUpperCase();
           ul = document.getElementById("myUL");
           li = ul.getElementsByTagName("li");
           for (i = 0; i < li.length; i++) {
               a = li[i].getElementsByTagName("a")[0];
               txtValue = a.textContent || a.innerText;
               if (txtValue.toUpperCase().indexOf(filter) > -1) {
                   li[i].style.display = "";
                   //numbercount++
                   $("#numbercount").html(numbercount)
               } else {
                   li[i].style.display = "none";
                   numbercount--
                   $("#numbercount").html(numbercount)
                  
               }
           }
       }
       </script>