{% load static %}

{% load humanize %}
<style>
     table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
.btn_reacts{
            color:#000;
        }
    

.bdge {
  height: 21px;
  background-color: orange;
  
  font-size: 11px;
  padding: 8px;
  border-radius: 4px;
  line-height: 3px;
}

.comments {
  text-decoration: underline;
  text-underline-position: under;
  cursor: pointer;
}

.dot {
  height: 7px;
  width: 7px;
  margin-top: 3px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.hit-voting:hover {
  color: blue;
}

.hit-voting {
  cursor: pointer;
}
.commented-section{
    text-align: justify;
}
.commented-section{
    box-shadow: 0 0 3px #ccc;
    border-radius: 2px;
    padding: 1.5rem !important;
}
.starlabel:before {
    content: '☆';
    
    font-size: 2em;
  }
  .starlabel.on:before {
    content: '★';
    
    /* uncomment for iOS */
  /*   font-size: 2.4em;
    top: -0.1em;
    left: -0.1em; */
  }
  .starrate:checked + .starlabel:before {
    content: '★'; 
    /* uncomment for iOS */
  /*   font-size: 2.4em;
    top: -0.1em;
    left: -0.1em; */
  }
  .starlabel {  
    display: inline-block;  
    cursor: pointer;  
    position: relative;  
    padding-left: 25px;  
    margin-right: 15px;  
    font-size: 20px; 
  }
  .starlabel:before {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    position: absolute;
    left: 0;
    border-radius: 10px;
  }
  .starrate {
    display: none;
    -webkit-appearance: none;
  }
  
  /* Non-essential */

  .question {
    margin-bottom: 8em;
  }
  #q1 {
    margin-top: 6em;
  }
  p {
    font-family: Bitter, sans-serif;
    font-size: 1em;
  }
  #submit {
    font-size: 24px;
    font-family: Bitter, sans-serif;
    color: #448AC1;
    width: 80px;
    height: 80px;
    border: none;
    border-radius: 40px;
  }
  
  .btn-scale {
  min-width: 44px;
  width: 6%;
  text-align: center;
  font-weight: bold;
  color: black;
  font-family: 'Lato', sans-serif;
}

.btn-scale-asc-1, .btn-scale-desc-10 {
  background-color: #33FF00;
}

.btn-scale-asc-1:hover,
.btn-scale-desc-10:hover {
  background-color: #2CDE00;
}

.btn-scale-asc-2,
.btn-scale-desc-9{
  background-color: #66FF00;
}

.btn-scale-asc-2:hover,
.btn-scale-desc-9:hover{
  background-color: #59DE00;
}

.btn-scale-asc-3,
.btn-scale-desc-8 {
  background-color: #99FF00;
}

.btn-scale-asc-3:hover,
.btn-scale-desc-8:hover {
  background-color: #85DE00;
}

.btn-scale-asc-4,
.btn-scale-desc-7 {
  background-color: #CCFF00;
}

.btn-scale-asc-4:hover,
.btn-scale-desc-7:hover {
  background-color: #B1DE00;
}

.btn-scale-asc-5,
.btn-scale-desc-6 {
  background-color: #FFFF00;
}

.btn-scale-asc-5:hover,
.btn-scale-desc-6:hover {
  background-color: #DEDE00;
}

.btn-scale-asc-6,
.btn-scale-desc-5 {
  background-color: #FFCC00;
}

.btn-scale-asc-6:hover,
.btn-scale-desc-5:hover {
  background-color: #DEB100;
}

.btn-scale-asc-7,
.btn-scale-desc-4 {
  background-color: #FF9900;
}

.btn-scale-asc-7:hover,
.btn-scale-desc-4:hover {
  background-color: #DE8500;
}

.btn-scale-asc-8,
.btn-scale-desc-3 {
  background-color: #FF6600;
}

.btn-scale-asc-8:hover,
.btn-scale-desc-3:hover {
  background-color: #DE5900;
}

.btn-scale-asc-9,
.btn-scale-desc-2 {
  background-color: #FF3300;
}

.btn-scale-asc-9:hover,
.btn-scale-desc-2:hover {
  background-color: #DE2C00;
}

.btn-scale-asc-10,
.btn-scale-desc-1 {
  background-color: #FF0000;
}

.btn-scale-asc-10:hover,
.btn-scale-desc-1:hover {
  background-color: #DE0000;
}


.inputscheckboxes{
  height: 30px;
  width: 30px;
}
.rating_leaders{
  font-size: 15px;
  margin: 11px;
  font-weight: bold;
}
.multichoice7{
  height: 25px;
  width: 25px;
}


  .canvas_display{
      min-height: 100px;
      border: 1px solid #ccc;
  }
  .main_canvases{
      font-weight: 700px;
  }
  .canvas_heads{
      text-align: center;
      font-weight: bold;
  }
  .canvas_display{
    background: #fff;
  }
  .highcharts-figure,
.highcharts-data-table table {
min-width: 360px;
max-width: 800px;
margin: 1em auto;
}

.highcharts-data-table table {
font-family: Verdana, sans-serif;
border-collapse: collapse;
border: 1px solid #ebebeb;
margin: 10px auto;
text-align: center;
width: 100%;
max-width: 500px;
}

.highcharts-data-table caption {
padding: 1em 0;
font-size: 1.2em;
color: #555;
}

.highcharts-data-table th {
font-weight: 600;
padding: 0.5em;
}

.highcharts-data-table td,
.highcharts-data-table th,
.highcharts-data-table caption {
padding: 0.5em;
}

.highcharts-data-table thead tr,
.highcharts-data-table tr:nth-child(even) {
background: #f8f8f8;
}

.highcharts-data-table tr:hover {
background: #f1f7ff;
}
</style>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/data.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>
     <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body ">
            <span class="btn btn-danger btnback"><i class="fa fa-arrow-left"></i> Back</span>
          
            <div class="row" style="margin-top:10px;min-height: 100px;box-shadow:0px 0px 2px #ccc;border-radius:10px;">
              <div class="col-lg-12 main_header_display">
                 <h2><strong>{{survey.name|safe}} </strong> </h2>
                 
              </div>
          </div>
<div class="col-12" style="background:#ccc;min-height: 30px;padding:10px;margin:10px;">
  <h4><strong>{{questionscategories.name|safe}}</strong></h4>
</div>

<div class="col-sm-12" style="font-size: 17px !important;color:#000 !important; min-height: 100px;margin-top: 10px; box-shadow: 0 0 3px #ccc;border-radius: 2px;padding: 1.5rem !important;">

        <div class="col-sm-12">
          <!-- <div class="col-sm-1">
           <span><i class=" fa fa-arrows-alt fa-2X"></i></span>
          </div> -->
          <!--<span>{{i.id}}.)</span>-->
         <div class="col-sm-12"><span><strong>{{surveyquestion.name|safe}}</strong>
          </span>
          </div>
        </div>
        <div class="row">
<div class="col-sm-12" style="padding-left: 4% !important;">
 

        <table class="col-sm-12">
            {% for p in ratingsubtopics %}
            {% if p.status == 'active' %} 
            <tr style="background-color:#a4a4a4"><td class="col-sm-9">{{p.name|safe}}</td><td class=" col-sm-3 headingholders{{i.id}}">
      
            
            </td>
            <script>
              $(document).ready(function(){
               // alert()
                var questionID='{{i.id}}'
                var headings=''
                var question_leaders='{{question_leaders}}'
                //alert(questionID)
                for(h=1;h<=question_leaders;h++){
                  var newhead='<span class="rating_leaders">'+h+'</span>'
                  headings=headings+newhead
                }
                $(".headingholders"+questionID).html(headings)
              })
               </script>
          </tr>
           {% for ratingsubtopics in p.ratingquestionsubtopic_set.all %}
           {% if ratingsubtopics.status == 'active' %} 
           <tr style="background-color: #ccc;">
                <th style="font-weight: normal;">{{ratingsubtopics.name|safe}}</th><td>  </td>
                 <tr>
                {% for ratingrange in ratingsubtopics.ratingquestionrange_set.all %}
                {% if ratingrange.status == 'active' %}
                <tr>
                 <td>{{ratingrange.name|safe}}</td>
                 <td id="inputsholderrating{{ratingrange.id}}">
                   <script>
                    $(document).ready(function(){
                    var rangeid='{{ratingrange.id}}';
                    var finalvalue='{{ratingrange.range_to}}';
                    var content="";
                    for(a=1;a<=finalvalue;a++){
                      content=content+' <input type="checkbox" disabled value='+a+' class="inputscheckboxes ratingcheckboxes{{ratingrange.id}}" name="{{ratingsubtopics.id}}" id="{{p.id}}"  role="{{ratingrange.id}}" >'
                       //content=content+'<input type="radio" class="scalerate" name="radios{{ratingrange.id}}" class="vh" id="r{{ratingrange.id}}" role="{{ratingrange.id}}" aria-labelledby="l_r17 excellent">'
                        
                    }
                    $("#inputsholderrating"+rangeid).html(content)
                   //alert(content)
                })
                    </script>
  
  
                 </td>
                </tr>
                {% else %}
                {% endif %}
                {% endfor %}
            </tr>
                </tr>
                {% else %}
                {% endif %}
                {% endfor %}
                {% else %}
                {% endif %}
                {% endfor %}
                
                
            </table>
  
            <!-- <div class="col-12" style="margin-top: 5px;">
              CHANGE GRAPH TYPE:
              <select id="change_graph">
                 <option>bar</option>
                 <option>line</option>
                 <option>doughnut</option>
                 <option>pie</option>
                 <option>radar</option>
                 <option>scatter</option>
                 <option>bubble</option>
                 <option>polarArea</option>
              </select>
              </div> -->
              <div class="col-sm-12" style="margin-top: 5px; " id="graphpageholder">
              
              </div>
</div>
</div>
</div>
 

  </div>
</div>
</div>
</div>

</div>

<script>
  $(document).ready(function(){

    var csrfmiddlewaretoken= '{{csrf_token}}';
     var surveyId='{{survey.id}}'
     var  graphtype='bar'
     var questionId='{{surveyquestion.id}}';
     $.post('/dashboard/surveys/graphpage_rating/',{surveyId:surveyId,questionId:questionId,graphtype:graphtype,csrfmiddlewaretoken:csrfmiddlewaretoken},function(data){
      $('#graphpageholder').html(data)
    })
    $(".btnback").click(function(){
    var survey=surveyId
    $.post('/dashboard/surveys/all_survey_responce_questions/',{csrfmiddlewaretoken:csrfmiddlewaretoken,surveyId:surveyId},function(data){
   
    $('.content-wrapper').html(data)
}) 
})

    
       

$("#change_graph").change(function(){

    var graphtype=$(this).val()
    $.post('/dashboard/surveys/graphpage_rating/',{surveyId:surveyId,questionId:questionId,graphtype:graphtype,csrfmiddlewaretoken:csrfmiddlewaretoken},function(data){
      $('#graphpageholder').html(data)
    })
})

  

})
  </script>