{% load static %}
{% load bootstrap5 %}
{% load humanize %}
<style>
    .formContainers{
        border:1px solid #ccc;
        border-radius: 5px;
        padding: 5px;
        min-height: 500px;
    }
</style>
{% if messages %}
{% for message in messages %}
<script>
notify('{{message.level_tag}}', "{{message}}");
</script>

{% endfor %}

{% endif %}
<div class="card">
    <div class="card-body table-responsive">
        <div class="col-12" style="margin-bottom: 5px">
            <span class="btn btn-danger btnback"><i class="fa fa-arrow-left"></i> Back</span>
           
              
          </div>
<div class="row">
    <div class="headers">Add Audience to Undertake the task <span class="btn btn-primary menu_btn" id="addSurvey" style="float:right;margin-top: -10px;" role="addForum">+ Add Survey</span></div>
    <hr>
</div>
<div class="inner" style="min-height: 700px;">
    <div class="row">
        <div class="col-lg-12">
            <span class="min-headers"> {{survey.name|safe}}</span>
          
        </div>
    </div>
      <hr />
     <!--BLOCK SECTION -->
     <div class="row">
       <div class="col-sm-3 col-xs-12 " id="form_holder">
        <div class="col-sm-12 col-xs-12 formContainers">
        <div class="col-sm-12 col-xs-12">
            <div class="col-sm-12 col-xs-12 headers" style="background-color:#ccc ;">
                STEP 1
            </div>
           <label class="form_label">SELECT INSTITUTION:</label> 
           <div class="col-sm-12 col-xs-12">
           {% if institutionscount > 1 %}



                {% for i in institutions %}
                {% for j in surveyaudiences %}
                {% if j.institution == i %}
                <script>
                    $(document).ready(function(){
                        var institute='{{i.id}}'
                        $('.select_institute'+institute).prop('checked',true)
                    })
                    </script>
                {% else %}

                {% endif %}
                 {% endfor %}
                
                <div class="col-sm-12 col-xs-12 " >
                    <p class="">
                        
                    <input type="checkbox"  id="{{i.id}}" name="{{i}}"  class="select_institutions select_institute{{i.id}}" role="{{i.name}}">
                      <span class="checkmarkd"></span>
                       {{i.name}}
                       </label>
                        </p>
                        
                </div>
                
                 {% endfor %}
                 {% else %}


                 {% for j in surveyaudiences %}
                 {% if j.institution == institutions %}
                 <script>
                     $(document).ready(function(){
                         var institute='{{institutions.id}}'
                         $('.select_institute'+institute).prop('checked',true)
                     })
                     </script>
                 {% else %}
 
                 {% endif %}
                  {% endfor %}
                  <div class="col-sm-12 col-xs-12 " >
                    <p class="">
                        
                    <input type="checkbox"  id="{{institutions.id}}" name="{{institutions}}"  class="select_institutions select_institute{{institutions.id}}" role="{{institutions.name}}">
                      <span class="checkmarkd"></span>
                       {{institutions.name}}
                       </label>
                        </p>
                        
                </div>

                 {% endif %}


                </div>
                <div class="col-12" style="text-align: center;">Or</div>
                <div  style="float: right;margin-top: 10px;" class="btn btn-success col-12 custom_list">Create Custom audience list</div>
        </div>
      
     
</div>
       </div>

       <div class="col-sm-4 col-xs-12 formContainers" id="form_holder">
        <div class="col-sm-12 col-xs-12 headers" style="background-color:#ccc ;">
            STEP 2
        </div>
        <div class="col-sm-12 col-xs-12 " id="audienceLobby">
           
     
     
</div>
       </div>














       <div class="col-sm-5 col-xs-12 " ">
        <div class="col-sm-12 col-xs-12 formContainers">
            <div class="col-sm-12 col-xs-12 headers" style="background-color:#ccc ;">
                STEP 3
            </div>
            <label class="form_label">SELECTED USERS:</label> 
            <div class="col-sm-12 col-xs-12 " id="list_holder">
                
            </div>
        </div>
       </div>

    </div>

</div>
</div>
</div>

<script>
    $(document).ready(function(){
 var surveyId='{{survey.id}}'
 var csrfmiddlewaretoken= '{{csrf_token}}';
 $.post('/dashboard/surveys/load_graduation_year/',{csrfmiddlewaretoken:csrfmiddlewaretoken,surveyId:surveyId},function(data){

$('#audienceLobby').html(data)
   })
   $(".btnback").click(function(){
    window.location='/viewSurveys/'
//     $.post('/dashboard/surveys/viewSurveys/',{csrfmiddlewaretoken:csrfmiddlewaretoken},function(data){

//  $('.content-wrapper').html(data)
//     })
  })
/* $.post('/dashboard/surveys/getFinalAudiencelist/',{csrfmiddlewaretoken:csrfmiddlewaretoken,surveyId:surveyId},function(data){

$('#list_holder').html(data)
   })

*/
$('.custom_list').click(function(){
    $.post('/dashboard/surveys/loadCustom/',{csrfmiddlewaretoken:csrfmiddlewaretoken,surveyId:surveyId},function(data){

$('#audienceLobby').html(data)
   })
})
$("#Question_category").change(function(){
    var category=$(this).val()
    
    if(category){
   
    $('.categories').hide()
    $('.categories').filter('.category'+category).show()
    $('#category_damp').show()
    }else{
        $('#category_damp').hide()
    }
    

})



        $("#addSurvey").click(function(){
     
     $.get('/dashboard/surveys/create_survey/',function(data){
         
        $('.content-wrapper').html(data)
 })
 
 }) 
 



$(".select_institutions").change(function(){
    var audienceName=$(this).attr('name')
    var loadAudience='load'+audienceName
    var institution=$(this).attr('id');
    var group=$(this).attr('role')
    if(group=='Custom'){
        if($(this).prop('checked')){
        action='addAudience'
        $.post('/dashboard/surveys/add_selected_institutions/',{action:action,institution:institution,csrfmiddlewaretoken:csrfmiddlewaretoken,surveyId:surveyId},function(data){
            $.post('/dashboard/surveys/'+loadAudience+'/',{institution:institution,csrfmiddlewaretoken:csrfmiddlewaretoken,surveyId:surveyId},function(data){

         $('#audienceLobby').html(data)
            })
           })
        }else{
        action='removeAudience'
        $.post('/dashboard/surveys/add_selected_institutions/',{action:action,institution:institution,csrfmiddlewaretoken:csrfmiddlewaretoken,surveyId:surveyId},function(data){
          
         $('#audienceLobby').html('')
            
           })
    }

    }else{
        if($(this).prop('checked')){
        action='addAudience'
        $.post('/dashboard/surveys/add_selected_institutions/',{action:action,institution:institution,csrfmiddlewaretoken:csrfmiddlewaretoken,surveyId:surveyId},function(data){
            $.post('/dashboard/surveys/load_graduation_year/',{institution:institution,csrfmiddlewaretoken:csrfmiddlewaretoken,surveyId:surveyId},function(data){

         $('#audienceLobby').html(data)
            })
           })
        }else{
        action='removeAudience'
        $.post('/dashboard/surveys/add_selected_institutions/',{action:action,institution:institution,csrfmiddlewaretoken:csrfmiddlewaretoken,surveyId:surveyId},function(data){
            $.post('/dashboard/surveys/load_graduation_year/',{institution:institution,csrfmiddlewaretoken:csrfmiddlewaretoken,surveyId:surveyId},function(data){

$('#audienceLobby').html(data)
   })
            
           })
    }
   

        }
})
    })
</script>
