{% load static %}
{% load bootstrap5 %}
{% load humanize %}
<style>
  table {
    font-size: 13px !important;
    text-align: center;
    width: 95%;
    margin: auto;
    text-align: center;
  }

  /*Make alternating colors for the table rows*/
  .table tr:nth-child(odd) {
    background: #B8CAE4
  }

  .table tr:nth-child(even) {
    background: #dae5f4
  }

  th {
    background-color: #337ab7;
    color: white;
  }

  .display_table {
    border-bottom-right-radius: 20px;
    /*border-bottom-left-radius: 20px;*/
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 20px;
    box-shadow: 12px 12px 20px 6px #2e6da4;
  }

  td {
    padding: 6px;
    line-height: 1.428571429;
    vertical-align: top;
    border-top: 1px solid #dddddd;
    text-align: justify;
    font-size: 16px;
  }

  .page_links {
    cursor: pointer;

  }

  .pagination {
    float:right;
  }

  .pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
  }

  .pagination a.active {
    background-color: #4CAF50;
    color: white;
  }

  .pagination a:hover:not(.active) {
    background-color: #ddd;
  }

  .actionbtns {
    cursor: pointer;

  }

  .headholder {
    margin-top: 5px;
    background-color: #495549 !important;
    font-weight: bold;
    color: #fff !important;
    text-align: center !important;
    text-transform: uppercase;
  }
  .highcharts-figure,
.highcharts-data-table table {
    min-width: 320px;
    max-width: 800px;
    margin: 1em auto;
}

.highcharts-data-table table {
    font-family: Verdana, sans-serif;
    border-collapse: collapse;
    border: 1px solid #ebebeb;
    margin: 10px auto;
    text-align: center;
    width: 100%;
    max-width: 500px;
}

.highcharts-data-table caption {
    padding: 1em 0;
    font-size: 1.2em;
    color: #555;
}

.highcharts-data-table th {
    font-weight: 600;
    padding: 0.5em;
}

.highcharts-data-table td,
.highcharts-data-table th,
.highcharts-data-table caption {
    padding: 0.5em;
}

.highcharts-data-table thead tr,
.highcharts-data-table tr:nth-child(even) {
    background: #f8f8f8;
}

.highcharts-data-table tr:hover {
    background: #f1f7ff;
}

input[type="number"] {
    min-width: 50px;
}

</style>
{% if messages %}
{% for message in messages %}
<script>
  notify('{{message.level_tag}}', "{{message}}");
</script>

{% endfor %}

{% endif %}

<div class="inner card">
  <div class="col-sm-12 card-body">
    <div class="row ">
      <div class="col-lg-12">
        <span class="btn btn-danger btnback"><i class="fa fa-arrow-left"></i> Back</span>

        <h4 class="col-12 main_header_display"> RESPONSES :<strong>{{survey.name|safe}}</strong></h4>
        <div class="col-sm-12" style="text-align: right;">
          <span class="btn btn-secondary all_survey_responce_questions" style="" role="survey-responses"><i
            class="fa fa-list"></i> Responses</span>&nbsp;
          <span class="btn btn-secondary all_survey_responce_questions" style="" role="survey-response-list"><i
            class="fa fa-users"></i> Responded</span>&nbsp;
          <span class="btn btn-secondary all_survey_responce_questions" style="" role="not-responded"><i
              class="fa fa-users"></i> Not Responded</span>&nbsp;
          <span class="btn btn-primary all_survey_responce_questions" style="" role="all_survey_responce_questions"><i
              class="fa fa-list"></i> All questions</span>&nbsp;
          <span class="btn btn-success all_survey_responce_questions" style=""
            role="all_survey_responce_questions_analysis">
            <i class="fa fa-bar-chart" aria-hidden="true"></i>
            Analysis
            reports</span>&nbsp;

        </div>

      </div>
    </div>
    <hr />
    <!--BLOCK SECTION -->
    <div class="row ">
      <div class="col-sm-6">
      <div class=" card-body" id="">
        <div class="col-12 card-body">
          <figure class="highcharts-figure ">
            <div id="indicator_divone"></div>
           
          
            <table id="datatable_indicatorone" style="display:none" >
              <thead>
                <tr>
                  <th>NAME</th>
                  <th>VALUE</th>
                </tr>
              </thead>
              <tbody>
                <tr><td>Users Invited</td> <td>{{total_invites}}</td></tr>
                <tr><td>Responces</td> <td>{{responcescount}}</td></tr>
                <tr><td>Yet to respond</td> <td>{{yet_to_respond}}</td></tr>
                
              </tbody>
            </table>
          </figure>
          </div>
          </div>
          </div>
          <div class="col-sm-6">
          <div class=" card-body" id="">
            <div class="card-body">
          <figure class="highcharts-figure">
              <div id="chart_responces"></div>
             
          </figure>
          </div>
        </div>
        </div>
      </div>
      </div>
      </div>
      

<script type="text/javascript">

  $(document).ready(function () {

    var csrfmiddlewaretoken = '{{csrf_token}}';
    var surveyId = '{{survey.id}}'

    $(".download_responces").click(function () {

      var survey = $(this).attr('role');
      var csrfmiddlewaretoken = '{{csrf_token}}';
      var url = '/dashboard/surveys/export_survey_responce/' + survey
      window.open(url, '_blank');
      //  $.post('/dashboard/surveys/export_survey_responce/',{csrfmiddlewaretoken:csrfmiddlewaretoken,survey:survey},function(data){

      // $('.content-wrapper').html(data)
      // })
    })

    $(".btnback").click(function () {
      var URL='/viewSurveys/'
            window.location=URL
      // $.post('/dashboard/surveys/viewSurveys/', { csrfmiddlewaretoken: csrfmiddlewaretoken }, function (data) {

      //   $('.content-wrapper').html(data)
      // })



      //     var survey=surveyId
      //     $.post('/dashboard/surveys/ListSurveyResponcesRecieved/',{csrfmiddlewaretoken:csrfmiddlewaretoken,survey:survey},function(data){
      // alert(data)
      // $('.content-wrapper').html(data)
      // }) 
    })
    $(".userresponcebtns").click(function () {
      var action = $(this).attr("name")
      var uuid = $(this).attr('role')
      $.post('/dashboard/surveys/viewuserquestionresponce/', { csrfmiddlewaretoken: csrfmiddlewaretoken, uuid: uuid, surveyId: surveyId }, function (data) {
        $('.content-wrapper').html(data)
      })
    })

    $(".all_survey_responce_questions").click(function () {
      var role = $(this).attr('role')
      if(role=='not-responded'){
        window.location='/'+role+'/'+surveyId
        
      }else if(role=='survey-response-list'){
        window.location='/'+role+'/'+surveyId
      }else if(role=='survey-responses'){
        window.location='/'+role+'/'+surveyId
        
      }else{
      $.post('/dashboard/surveys/' + role + '/', { csrfmiddlewaretoken: csrfmiddlewaretoken, surveyId: surveyId }, function (data) {
        $('.content-wrapper').html(data)
      })
    }
    })

  })


  var surveyaudiencecount = parseInt('{{surveyaudiencelistcount}}')
  var surveyaudiencecustomcount = parseInt('{{surveyaudiencecustomcount}}')

  var allmember_invited = surveyaudiencecount + surveyaudiencecustomcount
  var responcescount = parseInt('{{responcescount}}')
  var Not_responded = allmember_invited - responcescount

  Highcharts.chart('indicator_divone', {
  data: {
    table: 'datatable_indicatorone'
  },
  chart: {
    type: 'column'
  },
  title: {
    text: 'Responses'
  },
  subtitle: {
    text:
      'Source: Responses'
  },
  xAxis: {
    type: 'category'
  },
  yAxis: {
    allowDecimals: false,
    title: {
      text: 'Respondents'
    }
  },
  tooltip: {
    formatter: function () {
      return '<b>' + this.series.name + '</b><br/>' +
        this.point.y + ' ' + this.point.name.toLowerCase();
    }
  }
});

  Highcharts.chart('chart_responces', {
    chart: {
        plotBackgroundColor: null,
        plotBorderWidth: null,
        plotShadow: false,
        type: 'pie'
    },
    title: {
        text: 'Response rate',
        align: 'left'
    },
    tooltip: {
        pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
    },
    accessibility: {
        point: {
            valueSuffix: '%'
        }
    },
    plotOptions: {
        pie: {
            allowPointSelect: true,
            cursor: 'pointer',
            dataLabels: {
                enabled: true,
                format: '<b>{point.name}</b>: {point.percentage:.1f} %'
            }
        }
    },
    series: [{
        name: 'clasifications',
        colorByPoint: true,
        data: [{
          name: 'Responded',
            y: responcescount,
            sliced: true,
            selected: true
        }, {
            name: 'Not responded',
            y: Not_responded
        }]
    }]
});
</script>