<style>
    .canvas_display{
        min-height: 100px;
        border: 1px solid #ccc;
    }
    .main_canvases{
        font-weight: 700px;
    }
    .canvas_heads{
        text-align: center;
        font-weight: bold;
    }
    .canvas_display{
      background: #fff;
    }
    .highcharts-figure,
.highcharts-data-table table {
  min-width: 360px;
  max-width: 800px;
  margin: 1em auto;
}

.highcharts-data-table table {
  font-family: Verdana, sans-serif;
  border-collapse: collapse;
  border: 1px solid #ebebeb;
  margin: 10px auto;
  text-align: center;
  width: 100%;
  max-width: 500px;
}

.highcharts-data-table caption {
  padding: 1em 0;
  font-size: 1.2em;
  color: #555;
}

.highcharts-data-table th {
  font-weight: 600;
  padding: 0.5em;
}

.highcharts-data-table td,
.highcharts-data-table th,
.highcharts-data-table caption {
  padding: 0.5em;
}

.highcharts-data-table thead tr,
.highcharts-data-table tr:nth-child(even) {
  background: #f8f8f8;
}

.highcharts-data-table tr:hover {
  background: #f1f7ff;
}
</style>

<div class="card">
  <div class="card-body">
<div class="col-sm-12">
    <span class="btn btn-danger btnback"><i class="fa fa-arrow-left"></i> Back</span>
   
    <div class="col-sm-12" style="font-weight: bold;border-bottom: 1px solid #000;">{{survey.name|safe}}</div>
           
    <div class="row">
      <div class="col-sm-2">
        <div class="col-sm-12" style="text-transform: uppercase;">Graduation Year</div>
        <select class="graduation_year form-control col-sm-12" role="" id="graduation_year">
          <option class="graduations" value="">Select Graduation year</option>
          {% for year in years %}
      <option class='graduations year1{{year.id}}' value="{{year.id}}">{{year.name|safe}}</option>
          {% endfor %}
        </select>
      </div>
      <div class="col-sm-4">
        <div class="col-sm-12">INDICATOR 1</div>
        <select class="indicator_selector form-control col-sm-12" role="2" id="indicator_one">
          <option class="indicator1" value="">Select inicator 1</option>
          {% for indicator in surveytargettype %}
         
      <option class='indicator_options selector_option1{{indicator.question.id}}' value="{{indicator.id}}">{{indicator.name|safe}}</option>
        
          {% endfor %}
        </select>
        
      </div>
<!-- <div class="col-sm-4">
  <div class="col-sm-12">INDICATOR 1</div>
  <select class="indicator_selector form-control col-sm-12" role="2" id="indicator_one">
    <option class="indicator1" value="">Select inicator 1</option>
    {% for indicator in indicators %}
   
    {% if indicator.question.id == graduations.id %}
    
    {% else %}
<option class='indicator_options selector_option1{{indicator.question.id}}' value="{{indicator.question.id}}">{{indicator.question.name|safe}}</option>
    {% endif %}
    {% endfor %}
  </select>
  
</div> -->
<div class="col-sm-4">
  <div class="col-sm-12">INDICATOR 2</div>
  <select class="indicator_selector form-control col-sm-12" role="1" id="indicator_two">
    <option class="indicator2" value="">Select indicator 2</option>
    {% for indicator in indicators %}
    {% if indicator.question.id == graduations.id %}
    {% else %}
<option class="indicator_options selector_option2{{indicator.question.id}}" value="{{indicator.question.id}}">{{indicator.question.name|safe}}</option>
{% endif %}
{% endfor %}
  </select>
</div>
<div class="col-sm-2">
  <span class="btn btn-success generate_graph" style="margin-top: 10px;">Generate Graph</span>
</div>
<div class="row" id="graphs_displays">

</div>
</div>

</div>

</div>
</div>

<script>

    $(document).ready(function(){
      var csrfmiddlewaretoken= '{{csrf_token}}';
      $(".indicator_options").hide()
    $("#graduation_year").change(function(){
      var year=$(this).val()
      // alert(year)
      if(year){
        $(".indicator_options").show()
      }else{
        $(".indicator_options").hide()
        $('#indicator_one').val('')
        $('#indicator_two').val('')
      }
    })
    var survey='{{survey.id}}'
$(".indicator_selector").change(function(){
  var indicator_option=$(this).val()
  var indicator_reflector=$(this).attr('role')
  $('.indicator_options').show()
  $('.selector_option'+indicator_reflector+indicator_option).hide()
})

$('.generate_graph').click(function(){
  var indicatorone=$('#indicator_one').val()
  var indicatortwo=$('#indicator_two').val()
  var graduation_year=$("#graduation_year").val()
  if(indicatorone){
    $('#indicator_one').css('border','1px solid #ccc')
  }else{
    $('#indicator_one').css('border','1px solid red')
  }
  if(graduation_year){
    $('#graduation_year').css('border','1px solid #ccc')
  }else{
    $('#graduation_year').css('border','1px solid red')
  }
if(indicatortwo){
  $('#indicator_two').css('border','1px solid #ccc')
}else{
  $('#indicator_two').css('border','1px solid red')
}
if(indicatortwo && indicatorone){
  $.post('/dashboard/surveys/generate-new-graph/',{csrfmiddlewaretoken:csrfmiddlewaretoken,survey:survey,indicatortwo:indicatortwo,indicatorone:indicatorone,graduation_year:graduation_year},function(data){
    $("#graphs_displays").html(data)
  })
}else{

}


})







        var csrfmiddlewaretoken= '{{csrf_token}}';
  $(".btnback").click(function(){
    
    var survey='{{survey.id}}'
  
    $.post('/dashboard/surveys/ListSurveyResponcesRecieved/',{csrfmiddlewaretoken:csrfmiddlewaretoken,survey:survey},function(data){
   
    $('.content-wrapper').html(data)
}) 
})
       

    })
</script>